
<div class="row" >
  <div class="col-md-3"></div>

  <div class="col-md-6 web-app-cart row" style="padding-top: 10px; padding-bottom: 10px;" >
    <div class="col-md-6" >
      <h3>Web-App Cart</h3>
    </div>

    <div class="col-md-6 row" style="text-align: right;"></div>

    <div class="col-md12" style="border-top: solid 1px black; border-bottom: solid 1px black; margin: 10px 0 10px 0px;">
      <!---->
      <div class="row" style=" margin: 10px 0 10px 0px; border-bottom: solid 1px lightgrey;" *ngFor="let p of products; index as i">

        <div class="col-md-3" >
          <img [src]="p.img" alt="" style="margin: 10px 0 10px 0px; max-width: 100%;">
        </div>

        <div class="col-md-9 row">

          <div class="col-md-6 " style="height: auto;">{{p.name}}</div>
          <div class="col-md-6" style="text-align: right; ">{{p.price}} $</div>

          <div class="col-md-6 h-50">{{p.description}}</div>
          <div class="col-md-6 h-50"></div>

          <div class="col-md-9" style="text-align: right;"> 
            <button type="button" class="btn btn-info" name="cartProducts_{{i}}" id="cartProducts_{{i}}" (click)="onRemoveProduct(i)"><i class="bi bi-trash"></i></button>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
      <!---->
    </div>
    
    <div class="col-md-9">
      Summe
    </div>

    <div class="col-md-3" style="text-align: right;">
      {{totalPrice}} $
    </div>

  </div>

  <div class="col-md-3"></div>

</div>
