<div class="row">
    <div class="col-md-3 web-app-header"></div>
    <div class="col-md-3 web-app-header">
        WebApp
        

        
    </div>

    <div class="col-md-3 web-app-header">
        <a class="header-nav-icon"  href="/">
            <i class="bi bi-house-fill"></i>
            Home 
        </a>

        <a class="header-nav-icon"  href="/shop">
            <i class="bi bi-cash-coin"></i>
            Shop 
        </a>

        <a class="header-nav-icon"  href="/cart">
            <i class="bi bi-cart"></i>
            Cart 
        </a>
    </div>
    
    <div class="col-md-3 web-app-header"></div>
</div>


