
<div class="row">

    <div class="col-md-3">
    </div>

    <div class="container-fluid col-md-6 row">

        <div class="container-fluid  web-app-filter col-md-12 row">
            <div class="col-md-3">
                Product
                <input type="search" class="form-control me-2" (keyup)="onNameInput($event)" >
            </div>

            <div class="col-md-3">
                Order products  
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="webShopOrderBy" value="priceAsc" id="orderByPriceAsc" (change)="onOrderChange ($event)" checked>
                    <label class="form-check-label" for="orderByPriceAsc">
                        Price descending.
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="webShopOrderBy" value="priceDesc" id="orderByPriceDesc" (change)="onOrderChange ($event)"  >
                    <label class="form-check-label" for="orderByPriceDesc">
                      Price ascending.
                    </label>
                </div>

               
            </div>

            <div class="col-md-3">
                Categories
                <div class="form-check" >
                    <input class="form-check-input" type="radio" name="webShopCatgories" value="0" id="category_0" (change)="onCategoryChange ($event)" checked>
                    <label class="form-check-label" for="category_0">
                      All
                    </label>
                </div>

                <div class="form-check" *ngFor="let c of categories">
                    <input class="form-check-input" type="radio" name="webShopCatgories" value="{{c.categori_id}}" id="category_{{c.categori_id}}" (change)="onCategoryChange ($event)" >
                    <label class="form-check-label" for="category_{{c.categori_id}}">
                      {{c.name}}
                    </label>
                </div>
            </div>
        </div>
        
        <h1>Products</h1>
        

        <div class="container-fluid row ">
            <div class="p-2 bg-light border">
                <div class="container-fluid row d-flex d-grid gap-7">
                    <div class="justify-content-md-center col-md-4" *ngFor="let p of visibleProducts">
                        <div class=" b-9 card text-center " >
                            <div class="card-header aling-items-center">
                                {{p.name}} 
                            </div>
                            <img [src]="p.img" class="card-img-top">
                            <div class="card-body">
                                <p>{{p.description}}
                                </p>
                                <div >
                                    <p>S/{{p.price}}</p>
                                </div>
                                
                                <button type="button" (click) ="onAddProduct(p)" class="btn btn-success" ><i class="bi bi-cart-plus" >Buy</i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
